body{
    background-color:white;
}
nav{
    background-color: #228B22;
    width:1000px;
    display:flex;
    height:100px;
    justify-content: space-between;
    border: 5px solid black;
}

box{
    flex: 1;
    background-color: white;
    text-align: center;
    padding: 25px; 
    margin:20px 10px 20px 10px;
}

header{
    width: 990px;
    height: 300px;
    background-color: #20B2AA;
    padding: 5px;
    display: flex;
    border: 5px solid black;
    justify-content: space-between;
}

banner{
    padding-left: 800px;
    padding-bottom:282px;
    background-color: white;
}

banner h1{
    padding-left:45%;
    padding-top:10%;
}

#sidebar{
    margin-top:-5px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

header box{
    height: 100px;
    background-color: white;
    margin-bottom: 2px;
    margin-top:5px;
    border: 1px solid black;
}

main{
    background-color: #BDB76B;
    width: 990px;
    height: 500px;
    padding: 5px;
    display: flex;
    border: 5px solid black;
    justify-content: space-between;
}

.a-right{
    background-color:white;
    width:200px;
    text-align: center;
    padding-top:25%;
}

.a-left{
    background-color:white;
    width:200px;
    text-align: center;
    padding-top:25%;  
}

.article{
    background-color:white;
    width:580px;
    text-align: center;
    padding-top:25%; 
}

footer{
    width: 1000px;
    height:50px;
    background-color:#FFD700;
    border: 5px solid black;
}